<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input label="Username" [control]="authForm.controls.username"></app-input>
  <app-input inputType="password" label="Password" [control]="authForm.controls.password"></app-input>
  <app-input inputType="password" label="Confirm Password"
             [control]="authForm.controls.passwordConfirmation"></app-input>

  <div
    *ngIf="
      authForm.controls.password.touched &&
      authForm.controls.passwordConfirmation.touched &&
      authForm.errors
    "
    class="ui basic red label"
  >
    <p *ngIf="authForm.errors['passwordMismatch']">
      Password and password confirmation must match
    </p>

    <p *ngIf="authForm.errors?.['noConnection']">
      Oops... It looks like you don't have an internet connection
    </p>

    <p *ngIf="authForm.errors?.['unknownError']">
      Failed to signup
    </p>
  </div>

  <div>
    <button class="ui submit button primary" [disabled]="authForm.invalid">
      Submit
    </button>
  </div>
</form>
